
.App {
    height: 100vh;
    background: #272727;
    background: url(./img/pattern.png);
    background: -moz-linear-gradient(to bottom,rgb(0, 0, 0) 0%,rgb(255, 255, 255) 50%,rgb(0, 0, 0) 100%), url(./img/pattern.png);
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.2) 10%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.2) 90%,rgba(0,0,0,1) 100%), url(./img/pattern.png);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.2) 10%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.2) 90%,rgba(0,0,0,1) 100%), url(./img/pattern.png);
    display: flex;
    justify-content: center;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1280px;
}
