@font-face {
    font-family: 'Trebuchet-regular';
    src: url('./Trebuchet-regular.ttf');
}

@font-face {
    font-family: 'Trebuchet-bold';
    src: url('./Trebuchet-bold.ttf');
}

.item {
    position: relative;
    background: #1698d9;
    width: 320px;
    height: 480px;
    overflow: hidden;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
}

.item-container {
    width: 312px;
    height: 472px;
    padding: 0 50px;
    box-sizing: border-box;
    background: #ffffff;
    position: absolute;
    top: 4px;
    left: 4px;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
}

.item h4 {
    font-family: 'Trebuchet-regular';
    font-size: 16px;
    line-height: 16px;
    color: #666666;
    font-weight: normal;
    margin: 25px 0 0 0;
}

.item h1 {
    font-family: 'Trebuchet-bold';
    font-size: 48px;
    line-height: 48px;
    color: #000000;
    margin: 20px 0 15px 0;
}

.item h2 {
    font-family: 'Trebuchet-bold';
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    margin: 0 0 22px 0;
}

.item p {
    font-family: 'Trebuchet-regular';
    font-size: 14px;
    line-height: 14px;
    color: #666666;
    margin: 0 0 5px 0;
}

.item img {
    width: 100%;
    position: absolute;
    bottom: -75px;
    left: -20px;
}

.item .weight {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    height: 80px;
    background: #1698d9;
    color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.item .weight .count {
    font-family: 'Trebuchet-regular';
    font-size: 42px;
    line-height: 42px;
}

.item .weight .unitMeas {
    font-family: 'Trebuchet-regular';
    font-size: 21px;
    line-height: 21px;
}

.footer-text {
  font-family: 'Trebuchet-regular';
  color: #ffffff;
  font-size: 13px;
  text-align: center;
}

.buy {
  font-family: 'Trebuchet-regular';
  color: #1698d9;
  font-size: 13px;
  border-bottom: 1px dashed #1698d9;
  cursor: pointer;
}
