//fonts

@font-face {
    font-family: 'Trebuchet-regular';
    src: url('fonts/Trebuchet-regular.eot') format('embedded-opentype');
    src: url('fonts/Trebuchet-regular.eot?#iefix') format('embedded-opentype'), url('fonts/Trebuchet-regular.woff') format('woff'), url('fonts/Trebuchet-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Trebuchet-bold';
    src: url('fonts/Trebuchet-bold.eot') format('embedded-opentype');
    src: url('fonts/Trebuchet-bold.eot?#iefix') format('embedded-opentype'), url('fonts/Trebuchet-bold.woff') format('woff'), url('fonts/Trebuchet-bold.ttf') format('truetype');
}

//colors

$default_color: #1698d9;
$hover_color: #2ea8e6;
$selected_color: #d91667;
$selected_hover_color: #e62e7a;
$disabled_color: #b3b3b3;

.item {
    margin: 42px 0 20px 0;

    > div {
        width: 320px;
        height: 438px;
        background: $default_color;
        -moz-border-radius: 0 0 10px 10px;
        -webkit-border-radius: 0 0 10px 10px;
        border-radius: 0 0 10px 10px;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            left: 42px;
            top: -42px;
            width: 278px;
            height: 42px;
            background: $default_color;
            -moz-border-radius: 0 10px 0 0;
            -webkit-border-radius: 0 10px 0 0;
            border-radius: 0 10px 0 0;
        }

        &:before {
            content: "";
            position: absolute;
            top: -42px;
            left: 0;
            border: 21px solid transparent;
            border-right: 21px solid $default_color;
            border-bottom: 21px solid $default_color;
            display: block;
            width: 0;
            height: 0;
        }

        @media all and (-ms-high-contrast:none) {
            &:before {
                border-right: 22px solid $default_color;
            }
        }

        &:hover {
            background: $hover_color;

            .weight {
                background: $hover_color;
            }

            &:after {
                background: $hover_color;
            }

            &:before {
                border-right: 21px solid $hover_color;
                border-bottom: 21px solid $hover_color;
            }

            @media all and (-ms-high-contrast:none) {
                &:before {
                    border-right: 22px solid $hover_color;
                }
            }
        }
    }

    .item-container {
        padding: 0 50px;
        box-sizing: border-box;
        background: #ffffff;
        width: 312px;
        height: 432px;
        -moz-border-radius: 0 0 10px 10px;
        -webkit-border-radius: 0 0 10px 10px;
        border-radius: 0 0 10px 10px;
        position: absolute;
        left: 4px;
        top: 2px;

        .text-container {
            position: absolute;
            top: -40px;
            z-index: 10;
        }

        &:after {
            content: "";
            position: absolute;
            left: 40px;
            top: -40px;
            width: 272px;
            height: 40px;
            background: #ffffff;
            -moz-border-radius: 0 10px 0 0;
            -webkit-border-radius: 0 10px 0 0;
            border-radius: 0 10px 0 0;
            z-index: 9;
        }

        &:before {
          content: "";
          position: absolute;
          top: -40px;
          left: 0px;
          border: 20px solid transparent;
          border-right: 20px solid #ffffff;
          border-bottom: 20px solid #ffffff;
          display: block;
          width: 0;
          height: 0;
          z-index: 9;
        }

        @media all and (-ms-high-contrast:none) {
            &:after {
                left: 39.6px;
                top: -39px;
            }
        }

        h4 {
            font-family: 'Trebuchet-regular';
            font-size: 16px;
            line-height: 16px;
            color: #666666;
            font-weight: normal;
            margin: 18px 0 0 0;
        }

        h1 {
            font-family: 'Trebuchet-bold';
            font-size: 48px;
            line-height: 48px;
            color: #000000;
            margin: 10px 0 5px 0;
        }

        h2 {
            font-family: 'Trebuchet-bold';
            font-size: 24px;
            line-height: 24px;
            color: #000000;
            margin: 0 0 22px 0;
        }

        p {
            font-family: 'Trebuchet-regular';
            font-size: 14px;
            line-height: 14px;
            color: #666666;
            margin: 0 0 5px 0;
        }

        .bold {
            font-family: 'Trebuchet-bold';
        }

        .image-wrapper {
            overflow: hidden;
            width: 312px;
            height: 266px;
            position: absolute;
            bottom: 0px;
            left: 0px;
            border-radius: 10px;

            img {
                width: 120%;
                position: absolute;
                bottom: -100px;
                left: -30px;
            }
        }

        .weight {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 80px;
            height: 80px;
            background: $default_color;
            color: white;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;

            .count {
                font-family: 'Trebuchet-regular';
                font-size: 42px;
                line-height: 42px;
            }

            .unitMeas {
                font-family: 'Trebuchet-regular';
                font-size: 21px;
                line-height: 21px;
            }
        }

        .selected-text {
            color: $selected_hover_color;
        }

        .hide {
            display: none;
        }

        .show {
            display: block;
        }
    }

    .footer-text {
        font-family: 'Trebuchet-regular';
        color: #ffffff;
        font-size: 13px;
        text-align: center;

        .buy {
            font-family: 'Trebuchet-regular';
            color: $default_color;
            font-size: 13px;
            border-bottom: 1px dashed $default_color;
            cursor: pointer;

            &:hover {
                color: $hover_color;
                border-bottom: 1px dashed $hover_color;
            }
        }
    }

    .footer-text.show{
        display: block;
    }

    .footer-text.hide{
        display: none;
    }

    & > .selected {
        &.selected-hover {
            background: $selected_hover_color !important;

            .weight {
                background: $selected_hover_color !important;
            }
        }

        background: $selected_color !important;

        .weight {
            background: $selected_color !important;
        }

        &:after {
            background: $selected_color !important;
        }

        &:before {
            border-right: 21px solid $selected_color !important;
            border-bottom: 21px solid $selected_color !important;
        }

        @media all and (-ms-high-contrast:none) {
            &:before {
                border-right: 22px solid $selected_color !important;
            }
        }
    }
}

.disabled {
    .footer-text-disabled {
        color: #ffff66;
    }

    & > div {
        background: $disabled_color;

        &:after {
            background: $disabled_color;
        }

        @media all and (-ms-high-contrast:none) {
            &:before {
                border-right: 22px solid $disabled_color;
            }
        }

        &:before {
            border-right: 21px solid $disabled_color;
            border-bottom: 21px solid $disabled_color;
        }

        .item-container {
            h1, h2, h4, p {
                color: $disabled_color;
            }

            & > .weight {
                background: $disabled_color;
            }

            img {
                opacity: 0.5;
            }
        }

        &:hover {
            background: $disabled_color;

            .item-container > .weight {
                background: $disabled_color;
            }

            &:after {
                background: $disabled_color;
            }

            &:before {
                border-right: 21px solid $disabled_color;
                border-bottom: 21px solid $disabled_color;
            }
        }
    }
}
